Source: libdbd-monetdb-perl
Section: misc
Priority: optional
Maintainer: MonetDB BV <info@monetdb.org>
Build-Depends: debhelper (>= 9~), perl
Standards-Version: 3.9.6
Vcs-Hg: https://dev.monetdb.org/hg/monetdb-perl/
Vcs-Browser: https://dev.monetdb.org/hg/monetdb-perl/
Homepage: https://www.monetdb.org/

Package: libdbd-monetdb-perl
Architecture: all
Depends: libdbi-perl,
         ${perl:Depends},
         ${shlibs:Depends}
Recommends: monetdb5-sql
Conflicts: perl-monetdb-client
Replaces: perl-monetdb-client
Description: Pure Perl database driver for MonetDB/SQL
 MonetDB is a database management system that is developed from a
 main-memory perspective with use of a fully decomposed storage model,
 automatic index management, extensibility of data types and search
 accelerators.  It also has an SQL frontend.
 .
 This package contains a pure Perl database driver for MonetDB/SQL.
